
body{
  margin: 0;
  background-color: red;
}
/* Universal */
Link{
  color: black;
}
.my-border{
  border-bottom: 1px solid #959393;
  border-top: 1px solid #959393;
}

/* Carousel Content box */
.carousel {
  position: relative;
  overflow: hidden;
  z-index: 10001;
}

.carousel-content {
  display: flex;
  margin: 150px 0 70px;
  transition: 500ms;
}

@media(max-width: 1024px) {
  .carousel-content {
      margin: 100px 0 50px;
  }
}

@media(max-width: 800px) {
  .carousel-content {
      margin: 70px 0 30px;
  }
}

.carousel-content img {
  height: 110vh;
  min-width: 100vw;
  max-width: 100vw;
  object-fit: cover;
}

.carousel-content video {
  min-width: 100vw;
  max-width: 100vw;
  min-height: 100vh;
  object-fit: fill;
}

.carousel .carousel-control-left {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 10%;
  cursor: pointer;
  z-index: 1;
}

.carousel .carousel-control-right {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  width: 10%;
  cursor: pointer;
  z-index: 1;
}
/* body{
  background-color: #2d2d2d;
} */
.nav-item{
  color: rgb(0, 0, 0);
}
.ml-5{
  margin-left: 25px;
}
.carousel {
  width:100%;
  height:auto;
}

a {
  color: black;
  text-decoration: auto;
}


/*    Staff / faculty member Information card details */
.stafCard {
  position: relative;
  max-width : 300px;
  height : 215px;  
  background-color : #fff;
  margin : 30px 10px;
  padding : 20px 15px;
  
  display : flex;
  flex-direction : column;
  box-shadow : 0 5px 20px rgba(0,0,0,0.5);
  transition : 0.3s ease-in-out;
  border-radius : 15px;
}
.stafCard:hover {
  height : 300px;    
}
.container .card .image {
  position : relative;
  width : 260px;
  height : 260px;
  
  top : -40%;
  left: 8px;
  box-shadow : 0 5px 20px rgba(0,0,0,0.2);
  z-index : 1;
}

.stafCard .stafImage .stafImageElement{
  max-width : 100%;
  border-radius : 15px;
}

.stafCard .stafContent {
  position : relative;
  top : -140px;
  padding : 10px 15px;
  color : #111;
  text-align : center;
  
  visibility : hidden;
  opacity : 0;
  transition : 0.3s ease-in-out;
    
}

.stafCard:hover .stafContent {
   margin-top : 30px;
   visibility : visible;
   opacity : 1;
   transition-delay: 0.2s;
  
}

/*  Information card Hover */

.carouselimage {
  position: relative;
}
.overlap {
  color: #ffffff;
  font-size: xx-large;
  position: relative ;
  bottom: 45px;
  left: 0px;
  opacity: 0;
  transition: .7s ease;
  background-color: transparent;
  width: 100%;
  text-align: center;
  font-weight: bold;
}
.carouselimage:hover .overlap {
  opacity: 1;
}
.carouselimage:hover{
  transition: .6s ease;
  transform: scale(1.02)
}

/* Login form css */


