
/* Login form css */

.login-form {
    background: #fff;
    width: 500px;
    margin: 65px auto;
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
            flex-direction: column;
    border-radius: 4px;
    box-shadow: 0 2px 25px rgba(0, 0, 0, 0.2);
  }
  .login-form h1 {
    padding: 20px 20px 0 20px;
    font-weight: 300;
  }
  .login-form .content {
    padding: 20px;
    text-align: center;
  }
  .login-form .input-field {
    padding: 12px 5px;
  }
  .login-form .input-field input {
    font-size: 16px;
    display: block;
    font-family: 'Rubik', sans-serif;
    width: 100%;
    padding: 10px 1px;
    border: 0;
    border-bottom: 1px solid #747474;
    outline: none;
    -webkit-transition: all .2s;
    transition: all .2s;
  }
  .login-form .input-field input::-webkit-input-placeholder {
    text-transform: uppercase;
  }
  .login-form .input-field input::-moz-placeholder {
    text-transform: uppercase;
  }
  .login-form .input-field input:-ms-input-placeholder {
    text-transform: uppercase;
  }
  .login-form .input-field input::-ms-input-placeholder {
    text-transform: uppercase;
  }
  .login-form .input-field input::placeholder {
    text-transform: uppercase;
  }
  .login-form .input-field input:focus {
    border-color: #222;
  }
  .login-form a.link {
    text-decoration: none;
    color: #747474;
    letter-spacing: 0.2px;
    text-transform: uppercase;
    display: inline-block;
    margin-top: 10px;
  }
  .login-form .action {
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
            flex-direction: row;
  }
  .login-form .action button {
    width: 100%;
    border: none;
    padding: 18px;
    font-family: 'Rubik', sans-serif;
    cursor: pointer;
    text-transform: uppercase;
    background: #e8e9ec;
    color: #777;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 0;
    letter-spacing: 0.2px;
    outline: 0;
    -webkit-transition: all .3s;
    transition: all .3s;
  }
  .login-form .action button:hover {
    background: #d8d8d8;
  }
  .login-form .action .active-button {
    background: #2d3b55;
    color: #fff;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 4px;
  }
  .login-form .action button:nth-child(2):hover {
    background: #3c4d6d;
  }
  
  /*    Student Registration Form    */
  
  fieldset {
    border: 1px solid #d4d4d4;
    padding: 20px 10px;
    margin-bottom: 20px;
    border-radius: 8px;
  }
  
  .input-field {
    display: flex;
    margin-bottom: 10px;
  }
  
  label {
    margin-right: 25px;
    margin-top: 5px;
    width: 30%;
    text-align: right;
    font-weight: bold;
  }
  
  .icon {
    background: #fcfcfa;
    color: black;
    min-width: 40px;
    border: 2px solid #e2e2e2;
    border-right: none;
    text-align: center;
    padding: 7px;
  }
  
  .inputs {
    padding: 3px 10px;
    border: 2px solid #e2e2e2;
    width: 70%;
  }
  
  input [type="radio"] {
    margin-right: 8px;
  }
  
  .textarea {
    padding: 8px;
    border: 2px solid #e2e2e2;
  }
  
  .textarea-icon {
    padding-top: 14px;
  }
  
  .button {
    text-align: center;
  }
  
  .submit {
    color: white;
    background: #ee9a25;
    padding: 9px 25px;
    margin-right: 10px;
    border: none;
    border-radius: 5px;
    box-shadow: 0 0 5px #c9c9c9;
  }
  
  .submit:hover {
    background: #d1871e;
  }
  
  .reset {
    color: white;
    background: #c93232;
    padding: 9px 25px;
    border: none;
    border-radius: 5px;
    box-shadow: 0 0 5px #c9c9c9;
  }
  
  .reset:hover {
    background: #a32727;
  }
  
  .city {
    margin-left: -6px;
  }
  
  .gender {
    margin-left: -30px;
  }
  
  .courses {
    margin-left: -26px;
  }
  
  input[type="radio"] {
    margin-right: 10px;
  }
  
  .message {
    margin-left: -30px;
  }
  
  